@charset "utf-8"

$modal-content-width: 65%

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

@import '~bulma/bulma.sass'
@import '~bulma-switch/src/sass/index.sass'
@import '~bulma-checkradio/src/sass/index.sass'
@import '~bulma-switch/src/sass/index.sass'
@import '~@creativebulma/bulma-tooltip/src/sass/index.sass'
@import 'colors'

.mb-04
    margin-bottom: 0.4rem !important

.mb-08
    margin-bottom: 0.8rem !important

.mt-2
    margin-top: 2rem !important

.mb-2
    margin-bottom: 2rem !important

.mr-05
    margin-right: 0.5rem !important

.fa-info-circle
    color: $white
    mix-blend-mode: normal
    opacity: 0.4


.info-icon-small .svg-inline--fa.fa-w-16
    width: 0.7rem !important

.hero .navbar
    background: #19232D

.hero
    background: #000

.is-divider
    height: 0.1rem
    background-color: $divider-color

.tabs a
    border-bottom-style: none
    border-bottom-width: 1px
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    display: flex
    align-items: center
    opacity: 0.6
    color: #FFFFFF

.tabs li.is-active a
    color: #FFFFFF
    border-top-color: #1BDD9D
    border-top-style: solid
    opacity: 1

.hero.is-fullheight .hero-body
    align-items: flex-start

.notification.is-primary
    background: #293540

.title
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 23px

.subtitle
    font-family: Roboto
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 16px
    color: #FFFFFF
    opacity: 0.6

.is-text-overflow
    flex: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.button.is-success2
    margin-left: 2em
    background: #293540
    color: $button-color

    &:hover
        background: $button-color
// border-radius: 3px;

.input,  .select select
    background-color: #202B35
    color: white
    border-color: #172028

.input[disabled],  .select select[disabled]
    background-color: #202B35
    color: white
    border-color: #172028

.select:not(.is-multiple):not(.is-loading)::after
    border-color: $blue

.truncate 
  width: 1fr
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis